@{
    ViewData["Title"] = "About";
}
<div class="container introbar">
    <div class="well">
        <div class="container">
            <img src="~/images/schulzegraduation.jpg" alt="kim schulze at 2017 Highline Graduation">
        </div>
        <div class="container">
            <img id="clip" src="img/schulzegraduation.jpg">
        </div>
        <h2>About Me</h2>
        <ol>
            <li>Science and Math Teacher</li>
            <li>Co-Founded <a href="https://www.firstinspires.org/">FIRST</a> FRC <a href="http://first3574.org/">Team 3574, The High Tekerz</a></li>
            <li><a href="https://www.highlineschools.org/highlinehs">Highline High School</a> Teacher (10 years)</li>
            <li><strong>MEd</strong> from <a href="https://www.pdx.edu/">Portland State University</a></li>
            <li><strong>A.B.</strong> from <a href="https://www.smith.edu/">Smith College</a></li>
            <li><a href="http://www.hsd.k12.or.us/Schools/HighSchools/Hilhi.aspx">Hillsboro High School</a> graduate</li>
            <li>Oregon Native</li>
        </ol>
        Contact:  <a href="mailto:kimberlykayschulze@gmail.com">Email Me</a>
    </div>
</div>

<div class="container">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#background">Background</a></li>
        <li><a href="#hobbiesinterests">Hobbies and Interest</a></li>
        <li><a href="#codingdevelopment">Coding and Development</a></li>
    </ul>

        <div class="container tabcontents">
            <div class="tab-content">
                <div id="background" class="tab-pane fade">
                    <h2>Background</h2>
                    <h3>Education</h3>
                    <ul>
                        <li>Masters of Education(2006): Portland State University, Portland, Oregon</li>
                        <li>Bachelor of Arts(2001): Smith College, Northampton, Massachusetts</li>
                    </ul>
                    <h3>Experience</h3>
                    <ul>
                        <li>Science and Math Teacher, Highline High School (2007 - 2017)</li>
                        <li>Guest Teacher, Hillsboro School District (2006 - 2007)</li>
                        <li>Guest Teacher, Beaverton School District (2006 - 2007)</li>
                        <li>Circuit Board Tester, Intel Corporation (2004-2005, 5 months)
                        <li>Fabrication Technician, Intel Corporation (2004, 2 months)
                    </ul>
                    <h3>Accomplishments</h3>
                    <ul>
                        <li><h4>FRC Team 3574</h4></li>
                        <li><h4>SeaPerch Underwater Robots</h4></li>
                        <li><h4>Quick and Dirty Boat-Building Competition</h4></li>
                    </ul>
                </div>

                <div id="hobbiesinterests" class="tab-pane fade">
                    <h2>Hobbies and Interests</h2>
                    <p>I am interested in learning new things.  This desire to be a life-long learner has led me to explore a variety of different subjects.  A classic literature kick brought me to Jules Verne and Mark Twain.  My desire to better communicate with my community brought me to study Spanish in Guatemala.  My interest in the Jewish community motivated me to enhance my Hebrew skills.  My interest in education has helped me think and learn more about what people want and need.  My interest in problem solving and creativity has led me to pursue a career in the tech field as a software developer.</p>
                </div>

                <div id="codingdevelopment" class="tab-pane fade">
                    <h2>Coding Background</h2>
                    <p>Though my dad was a programmer, my first shot at actual programming was studying <span class="techskills">Pascal, Perl, and HTML</span> in high school.  As a physics major, I continued my programming eduation with 3 computer science courses including the languages <span class="techskills">C and C++</span>.  I then went several years until restarting my programming adventure.  I took a 6-week online Java course from the local community college.  I then continued to study <span class="techskills">Java</span> on my own.  This included working with <span class="techskills">NetBeans, SQL, MySQL Workbench, HTML, CSS, and Javascript</span>.</p>
                    <h2>Why I Want to be a Developer</h2>
                    <p>Two things that motivate me to program: enjoyment and practicality.</p>
                    <p>First of all, I want to program for a simple reason - I enjoy it.  I like the logic and creativity of programming.  This involves knowing a different sort of language and syntax than we are used to and also often includes an awesome detective search of why something doesn't work or where something goes wrong.  We can't write a program all at once.  But just like life, we can break off the pieces and tackle each one, one at a time.</p>
                    <p>Second of all, there are things that I want to do with computers.  We are part of the information age.  I have been a part of the educational system for most of my life, most recently for 10 years as a high school teacher.  It seems clear that technology, in its many forms, is here to stay.  I believe we must embrace technology in order to make it work for us and not against us.  It is a vision.  Software will make it a reality.</p>
                </div>
            </div>
        </div>
    
</div>